_build/
__pycache__/
.vscode
.git
prek.toml
prek-extra.toml
.venv
.env

# Project-specific
audioclip/assets
cloud_analysis/*.json
example/
logs/
yellowstone_analysis/
post_analysis/
cloud_function_directory/
singing_in_noise/
